<h1>RandomItemGenerator</h1>
<h1>R.I.G.</h1>
<h3>Designed to create items, with some difference in rarity</h3>

<div>
<% for item in @items %>
  <div style="background-color: <%= item.colour %>;"  class="top-margin display-block text-center" id="item1"><h5 class="item"><%= item.description %></h5></div>
<% end  %>
</div>



<h6>Are you threatening me Master Jedi?</h6>
