.body-background {
    background-color: #757575
}

.top-margin {
    margin-top: 3px;
}

.display-block {
    display:inline-block;
    background-color: white;
    height: 100px;
    width: 250px;
    
    
   
    position: relative;
       
}



.center-element {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.container {
    display: flex;
    align-items: center
}